<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Methods: "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, userHash"
    Header set Access-Control-Max-Age: 3600
</IfModule>
